*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Poppins",sans-serif; 
}

body {
    display: flex;
    min-height: 100vh;
    background: url(Background.webp) no-repeat; 
    background-size: cover; 
    background-position: center;  
    background-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
}
 
.navbar{
    height: 75px;  
    display: flex;
}

.icon{
    width: 200px; 
    height: 70px; 
    margin-left: 10px;
    margin-top: 10px;
}

.logo{
    color: #FFFFFF;
    font-size: 35px;
    font-family: '"Times New Roman", Times, serif'; 
    padding-left: 20px;
    float: left; 
}

img {
    height:500px;
}

.menu{
    width: 400px; 
    float: left; 
    height: 70px; 
    font-family: '"Times New Roman", Times, serif'; 
}

ul{
    float: left; 
    display: flex; 
}

ul li{
    list-style: none; 
    margin-top: 27px; 
    margin-left: 62px; 
    font-size: 24px; 
}

ul li a{
    text-decoration: none; 
    color: #fff; 
    font-family: Arial; 
    font-weight: bold; 
    transition: 0.4s ease-in-out; 
}

ul li a:hover{
    color:goldenrod
}

#dots {
    position: absolute;
    margin-top: 45%;
    left: 61.3%; 
}

.content {
    width: 1200px; 
    height: auto; 
    margin: auto; 
    color: #fff; 
    position: relative; 
}

.content.par {
    padding-left: 20px;
    padding-bottom: 25px; 
    font-family: Arial; 
    letter-spacing: 1.2px; 
    line-height: 30px; 
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px; 
    padding-left: 20px; 
    margin-top: 9%; 
    letter-spacing: 2px; 
}

.content .cn{
    width: 160px; 
    height: 40px; 
    background: #ff7200; 
    border: none;
    margin-bottom: 10px; 
    margin-left: 20px; 
    font-size: 18px; 
    border-radius: 10px; 
    cursor: pointer; 
}

.content .cn a{ 
    text-decoration: none; 
    color: #000; 
}

.cn:hover{ 
    background-color: #fff;
}

.content span{
    color: #ff7200; 
    font-size: 60px; 
}